@charset "UTF-8";

#omain_1 a{
   font-size: 50px;
   color: beige;
   text-shadow: 0 0 5px #000000;
   text-decoration: none;
}

#omain_2 a{
   font-size: 50px;
   color: beige;
   text-shadow: 0 0 5px #000000;
   text-decoration: none;
}

#omain_1>a:focus, #omain_1>a:hover {
   font-size: 100px;
}


#omain_2>a:focus, #omain_2>a:hover {
   font-size: 100px;
}