<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.mapper.ReplyMapper">
	
	<insert id="insert">
		insert into reply (reno, bno, recontent, mno) values (seq_reno.nextval, #{bno}, #{recontent}, #{mno})
	</insert>
	
	<select id="read" resultType="com.aaa.project.domain.Reply">
		select * from reply where reno = #{reno}
	</select>
	
	<delete id="delete">
		delete from reply where reno = #{reno}
	</delete>
	
	<update id = "update">
		update reply set recontent = #{recontent}, redate = sysdate where reno = #{reno}
	</update>
	
	<select id = "getListWithPaging" resultType="com.aaa.project.domain.Reply">
		<![CDATA[
			select r.bno, r.reno, r.recontent, r.mno, r.reDate, m.nic
			from (
			    select /*+INDEX(tbl_reply idx_reply)*/
			        rownum rn, bno, reno, recontent, mno, reDate
			    from reply
			    where bno = #{bno}
			        and reno > 0
			        and rownum <= #{cri.pageNum}* #{cri.amount}
			) r, member m where r.mno = m.mno and rn > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
			select count(reno) from reply where bno = #{bno}
		]]>
	</select>
	<select id="getMyReplyList" resultType="com.aaa.project.domain.Reply">
		<![CDATA[
			select r.reno, r.recontent, r.bno, r.mno, m.nic, r.redate, b.title, t.tagname
			from(   select /*+ INDEX_DESC(REPLY IDX_RENO)*/
			            rownum rn, reno, recontent, bno, mno, redate
			        from reply ) r, member m, board b, tag t
			where r.mno = m.mno
			and b.bno = r.bno
			and b.tagno = t.tagno
			and m.mno = #{mno}
			and rownum <= #{pageNum} * #{amount}
			and rownum > (#{pageNum} -1) * #{amount} 
		]]>
	</select>
	
</mapper>